/* ASH Theme css file  */
/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Raleway font section */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight:500;
}
/* Helvetica font section */
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
    font-weight: 500;
}

