/* ASH Theme css file  */
/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* a tag general style */
a{
    text-decoration: none;
    color: #fff;
}
/* Raleway font section */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight:500;
}
/* Helvetica font section */
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
    font-weight: 500;
}
/* body section */
body{
    font-family: "Raleway", "Helvetica", sans-serif;
    color: #444;
}